:root {
  /* https://coolors.co/5f758e-001242-dfa02c-edf5ff-d66b31 */
  --pale-blue: #dbeaff;
  --grey-blue: #abc7e9;
  --dark-blue: #001242;
  --bright-orange: #d66b31;
  --super-white: #edf5ff;
  --tannish: #c49b6d;
  --page-margin: 5rem;
  font-size: 16px;
}

/* e1874c */

/* GENERAL STYLES */
body {
  background-color: var(--pale-blue);
  color: var(--dark-blue);
  padding: 0;
  margin: 0;
  font-family: "Nunito", Times, serif;
}

main {
  margin: 3rem var(--page-margin);
}

/* HEADER */
header {
  background: linear-gradient(var(--bright-orange), var(--dark-blue) 47%);
  color: var(--dark-blue);
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
  border-radius: 0 0 5rem 5rem / 0 0 1.3rem 1.3rem;
  padding: 0;
  margin: 0;
}

.header-top {
  display: block;
  justify-content: space-between;
  text-align: center;
  /* display: flex; */
}

header img {
  display: inline-block;
}
#logo, #smile {
  border-radius: 0 0 1.3rem 1.3rem;
}
/* #smile {
  border-radius: 0 0 0 1.3rem;
} */

/* NAVIGATION */
nav ul {
  background-color: var(--dark-blue);
  display: block;
  /* display: flex; 
  justify-content: center; */
  text-align: center;
  gap: 6rem;
  list-style: none;
  padding: 1rem 0 1rem;
  margin: 0;
  border-radius: 0 0 5rem 5rem / 0 0 1.3rem 1.3rem;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: var(--super-white);
  text-decoration: none;
  font-size: 1.8em;
  padding: 1rem 2rem;
  /* display: inline-block; */
  cursor: pointer;
}

/* LINK HOVERAGE */
.inline-link {
  color: var(--bright-orange);
  text-decoration: none;
}
.inline-link:hover,
nav ul li a:hover {
  color: var(--tannish);
}

/* FONTS */
h2,
#hero {
  font-family: "Jost", Times, sans-serif;
}

h3,
#goal,
b {
  font-family: "Sora", Times, sans-serif;
}

h3,
#goal {
  background: var(--super-white);
}

/* Phone Adjustment */
.phone {
  display: inline-block;
  background-color: #383f51;
  padding: 0.3rem;
  border-radius: 1.1rem;
  margin: auto 0 auto;
}

h2 {
  font-size: 3em;
  padding: 0;
  margin: 1rem 0;
  border-bottom: 1px solid var(--dark-blue);
}

/* Slogan */
#hero {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  display: inline-block;
  width: fit-content;
  text-align: left;
  font-size: 1.3em;
  padding: 0.5em 0.5em 0;
  margin: 1rem 0 0;
  color: var(--bright-orange);
  background: var(--super-white);
  border-radius: 0.5rem 0.5rem 0 0;
}

#goal {
  max-width: 20ch;
  font-size: 1em;
  text-align: center;
  color: var(--tannish);
  background: var(--super-white);
  border-radius: 3rem;
  padding: 1rem;
  display: inline-block;
  margin: 0 1rem 0;
}

.phone-and-goal {
  display: block;
  text-align: left;
  gap: 2rem;
  margin: 1rem 0;
}

/* article {
  display: flex;
  flex-direction: column;
} */

.body-text {
  font-size: 1.05em;
  max-width: 60ch;
  margin: 0;
  background: var(--grey-blue);
  padding: 1.5rem;
  border-radius: 1rem;
}

.with-h3 {
  border-radius: 0 0 1rem 1rem;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

b {
  color: var(--bright-orange);
  font-weight: bold;
  font-size: 1.1em;
}

.contact-info {
  padding: 0;
}

footer {
  font-size: 0.8em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
