:root {
  /* https://coolors.co/5f758e-001242-dfa02c-edf5ff-d66b31 */
  --primary-bg: #DBEAFF;
  --secondary-bg: #5f758e;
  --primary-text: #001242;
  --secondary: #d66b31;
  --highlight: #001242;
  --super-white: #EDF5FF;
  --page-margin: 2rem;
}

/* e1874c */

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 0;
  margin: 0;
  font-family: "Nunito", Times, serif;
}

main {
  margin: var(--page-margin);
}

header {
  background: linear-gradient(#efc16b, #001242);
  color: var(--primary-text);
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
  border-radius: 0 0 5rem 5rem / 0 0 1.3rem 1.3rem;
  padding: 0;
  margin: 0;
}

.header-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header img {
  display: block;
}

nav ul {
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  gap: 6rem;
  list-style: none;
  padding: 1rem 0 1rem;
  margin: 0;
  border-radius: 0 0 5rem 5rem / 0 0 1.3rem 1.3rem;
}

nav ul li a {
  color: var(--super-white);
  text-decoration: none;
  font-size: 1.8em;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}

.phone {
  display: block;
  background-color: #383f51;
  padding: 0.3rem;
  border-radius: 1.1rem;
}

h2 {
  font-size: 2em;
  font-family: "Jost", Times, serif;
}
#hero {
  font-size: 2.5em;
  text-align: center;
  font-family: Jost;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

b {
  font-weight: bold;
  font-family: "Honk", Times, serif;
  font-size: 1.2em;
}

